canvas {
  position: fixed;
  top:0;
  left:0;
  color:transparent;
  z-index:-99;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: overlay;
}
/*
.progress-bar-container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 110%;
  overflow: overlay;
}

progress{
  width: 30%;
  margin-top: 0.5%;
  height: 5px;
  border-radius: 10px;
  -webkit-appearance: none;
  background-color: grey;
  accent-color: white;
}

progress::-webkit-progress-bar {
  background-color: grey;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);

  border-radius: 10px;
}
progress::-moz-progress-bar {
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
  border-radius: 10px;
}

label{
  color: white;
  font-size: 1rem;
  font-family: 'Open-Sans', sans-serif;
}
*/
nav{
  position: sticky;
  top: 0;
  padding-left: 10px;
  z-index: 99;
}
ul{
  display: flex;
  justify-content: left;
  box-sizing: border-box;
  padding-top: 1%;
  padding-left: 1.5%;
}
li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold
}
a{
  text-decoration: none;
  font-family: 'Open-Sans', sans-serif;
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  transition: all .5s ease 0s;
  user-select:none;
}
a:hover{
  background-image: url(https://t3.ftcdn.net/jpg/01/91/95/30/360_F_191953033_gehQATeDoh5z6PyRDbeKyBZuS83CjMEF.jpg);
}

.container{
  scroll-snap-type: y mandatory
}
.welc{
  height: 100vh;
  user-select:none;
  animation: fadeIn 5s;
  width: 85vw;
}

h1{
  font-family: 'Open-Sans', sans-serif;
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  text-align:left;
  padding-left: 30px;
  padding-top: 50px;
}
.section {
  padding-left: 30px;
  height: auto !important;
  user-select:none;
  padding-top: 20px;
  padding-bottom: 200px;
  scroll-snap-align: start;
}
h2{
  font-family: 'Open-Sans', sans-serif;
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  text-align:left;
  animation: fadeIn 2s;
}
h3{
  font-family: 'Open-Sans', sans-serif;
  background-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif);
  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30pt;
  text-align:left;
  animation: fadeIn 2s;
  width: 55vw;

}
p{
  font-size: 1.3rem;
  color: white;
  animation: fadeIn 2s;
  font-family: 'Open-Sans', sans-serif;
  width: 40%;
}
#ext{
  font-size: 16pt;
  padding-left: 0px;
}
.gallery{
  gap: 10px;
  display: flex;
  width: 100%;
}

img{
  gap: 10vw;
  vertical-align: top;
  height: 10rem;
  filter: grayscale(100%);
  padding: 7px;
  transition: all 1s;
  border-radius: 3%;
  border: 2px solid #ddd;
}
img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b79cbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: silver;
  border-radius: 10px;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
